In [1]:
import pandas as pd

In [2]:
pd.read_csv?

In [4]:
!gsutil ls

In [5]:
!gsutil ls -r gs://ejemplo18/pythondemo

gs://ejemplo18/pythondemo/:

gs://ejemplo18/pythondemo/data/:

gs://ejemplo18/pythondemo/data/retail_db/:
gs://ejemplo18/pythondemo/data/retail_db/create_db_tables_pg.sql
gs://ejemplo18/pythondemo/data/retail_db/load_db_tables_pg.sql
gs://ejemplo18/pythondemo/data/retail_db/schemas.json

gs://ejemplo18/pythondemo/data/retail_db/categories/:
gs://ejemplo18/pythondemo/data/retail_db/categories/part-00000

gs://ejemplo18/pythondemo/data/retail_db/customers/:
gs://ejemplo18/pythondemo/data/retail_db/customers/part-00000

gs://ejemplo18/pythondemo/data/retail_db/departments/:
gs://ejemplo18/pythondemo/data/retail_db/departments/part-00000

gs://ejemplo18/pythondemo/data/retail_db/order_items/:
gs://ejemplo18/pythondemo/data/retail_db/order_items/part-00000

gs://ejemplo18/pythondemo/data/retail_db/orders/:
gs://ejemplo18/pythondemo/data/retail_db/orders/part-00000

gs://ejemplo18/pythondemo/data/retail_db/products/:
gs://ejemplo18/pythondemo/data/retail_db/products/part-00000

In [6]:
columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']

In [7]:
columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [9]:
df = pd.read_csv('gs://ejemplo18/pythondemo/data/retail_db/orders/part-00000', names=columns)

In [11]:
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [16]:
df.to_parquet(
    'gs://ejemplo18/retail_db_parquet/orders/part-00000.snapy.parquet',
    index=False
)

In [17]:
!gsutil ls gs://ejemplo18/retail_db_parquet/orders

gs://ejemplo18/retail_db_parquet/orders/part-00000.snapy.parquet

In [18]:
df = pd.read_parquet('gs://ejemplo18/retail_db_parquet/orders/part-00000.snapy.parquet')

In [19]:
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]